 :root {
    --headline1-color: #41414;
    --headline2-color: #06800f;
    --black-color: #000;
    --primary-color: #0ac6ff;
    --white-color: #fff;
    --white-color-2: #f3f3f3;
    --red-color: #bd0513;
    --background-color-1: #5f0979;
    --background-color-2: #201324;
    --background-circle: #eac9d9;
    --height-nav: 70px;
}

@font-face {
    font-family: lovepen;
    src: url(/assest/font/VL_Lovepen\ Regular.otf);
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Roboto Serif', sans-serif;
    text-transform: capitalize;
}

.row>* {
    margin: 0;
    padding: 0;
}

.row {
    margin: auto;
    padding: 0;
}

h3 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: unset;
}

p {
    margin-bottom: 0;
}

.container {
    font-size: 16px;
}

.wraper {
    width: 1200px;
    /* margin: auto; */
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pointer {
    cursor: pointer;
}

.button {
    border-radius: 20px;
    /* padding: 10px; */
    color: var(--white-color);
    border-color: var(--white-color);
    border: 1px solid;
    font-size: 15px;
}

.nav-wrap {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    line-height: var(--height-nav);
    background-color: var(--white-color);
}

.navigation {
    justify-content: space-between;
    /* width: 1200px; */
    margin: auto;
}

.navigation,
.navigation .logo,
.navigation .menu {
    display: flex;
}

.navigation .logo {
    margin: auto 0;
}

.navigation .logo img {
    width: 30px;
    height: 30px;
}

.navigation .logo p {
    line-height: 30px;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    background: -webkit-linear-gradient(220deg, #8656a2, #6177ff,#51ade0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation .menu {
    gap: 30px;
    justify-content: flex-end;
}

.navigation .menu .link {
    color: unset;
}

.navigation .menu p {
    cursor: pointer;
    transition: all .1s linear;
    font-size: 15px;
    color: var(--background-color-2);
}


.navigation .menu p:hover {
    transform: scale(1.2);
    color: var(--primary-color);
}
.button.hotline {
    color: var(--background-color-1);
    border-color: var(--background-color-1);
    height: calc( var(--height-nav) - 25px);
    margin: auto 0;
    line-height: calc( var(--height-nav) - 25px);
    padding: 0 10px;
}

.button.hotline:hover {
    color: var(--white-color);
    background-color: var(--background-color-1);
}
/* section 2 */

.section-2 {
    background-image: url(../image/background-1.jpg);
    width: 100%;
    /* height: 90vh; */
    height: 600px;
    /* transform: translateX(-100%); */
    margin-top: var(--height-nav);
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-position: center bottom;
    background-repeat: repeat;
}

.section-2 .intro {
    height: 100%;
}

.section-2 .intro .slogan {
    margin: auto 0;
}

.section-2 .intro .slogan .name {
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 600;
    text-shadow: 2px 2px rgb(39, 35, 35);
}

.section-2 .intro .slogan .title {
    font-size: 40px;
    color: var(--white-color);
    font-weight: 600;
    text-shadow: 2px 2px rgb(39, 35, 35);
}

.section-2 .intro .slogan .description {
    font-size: 15px;
    margin-top: 20px;
    color: var(--white-color);
    text-shadow: 2px 2px rgb(39, 35, 35);
}

.button.experience {
    padding: 10px 30px;
    display: inline-block;
    margin-top: 20px;
}

.button.experience:hover {
    background-color: var(--white-color);
    color: var(--background-color-1);
}

.section-2 .intro .mobile {
    position: relative;
}

.section-2 .intro .mobile .image1 {
    position: absolute;
    background-image: url(../image/mobile-demo-1.png);
    width: 200px;
    height: 350px;
    z-index: 10;
    object-fit: cover;
    top: 20%;
    left: 30%;
}

.section-2 .intro .mobile .image2 {
    position: absolute;
    background-image: url(../image/mobile-demo-2.png);
    width: 200px;
    height: 450px;
    z-index: 9;
    object-fit: cover;
   top: 12%;
    left: 52%;
    border-radius: 10px;
}


/* section 3 */
.section-3 {
        padding: 30px 0;
}

.section-3 .info .slogan .title{
     font-size: 30px;
    color: var(--background-color-2);
    font-weight: 600;
}
.section-3 .info .slogan .name{
     font-size: 30px;
    color: var(--primary-color);
    font-weight: 600;
}

.section-3 .info .slogan .title-2 {
     font-size: 15px;
    color: var(--background-color-2);
    font-weight: 600;
}

.section-3 .info .slogan .description {
     font-size: 15px;
     text-align: justify;
     line-height: 25px;
     padding: 20px 0;
    color: var(--background-color-2);
    font-weight: 400;
}

.section-3 .info .slogan .experience-2 {
    background-color: var(--background-color-1);
    padding: 10px 20px;
    border: none;
    display: inline-block;
    margin-top: 40px;
}

.section-3 .info .slogan .experience-2:hover {
    background-color: var(--primary-color);
}


.section-3 .info .mobile {
    position: relative;
}

.section-3 .info .mobile .image1 {
    position: absolute;
    background-image: url(../image/mibile-info-3.png);
    width: 305px;
    height: 334px;
    z-index: 10;
    object-fit: contain;
    border-bottom-right-radius: 30%;
    /* top: 20%; */
    left: 21%;
}
.section-3 .info .mobile::after {
    content: "";
    position: absolute;
    z-index: 9;
    border-bottom-right-radius: 30%;
    top: 13%;
    left: 24%;
    width: 300px;
    height: 300px;
   background: linear-gradient(27deg, rgba(172,90,196,1) 18%, rgba(72,126,195,1) 100%);
}
/* section 4 */
.section-4, 
.section-6{
    background-color: #faf8fe;
    padding: 40px 0;
}
.section-6 > .title,
.section-7 > .title,
.section-4 > .title{
     font-size: 30px;
    color: var(--background-color-2);
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.section-6 > .title .name,
.section-7 > .title .name,
.section-4 > .title .name{
     font-size: 30px;
    color: var(--primary-color);
    font-weight: 600;
}

.section-4 .description {
    width: 100%;
}

.section-4 .description p {
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
     line-height: 20px;
     padding: 20px 0;
     width: 70%;
    color: var(--background-color-2);
    font-weight: 400;
}

.section-4 .wraper .cartegory-card {

}

.section-4 .wraper .category-card .image {
    width: 100%;
    position: relative;
    min-height: 250px;
}

.section-4 .wraper .category-card .image img {
    display: block;
    position: relative;
    z-index: 10;
    width: 40%;
    object-fit: cover;
    margin: 20px auto 70px;
}

.section-4 .wraper .category-card .image::after ,
.section-4 .wraper .category-card .image::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 9;
    top: -6%;
    left: 25%;
    width: 220px;
    height: 220px;
    border-radius: 31% 69% 71% 29% / 30% 30% 70% 70% ;
    background: linear-gradient(106deg, rgba(155,85,188,1) 30%, rgba(9,190,251,1) 99%);
}

.section-4 .wraper .category-card .image::before {
    background: #e8308c;
    border-radius: 31% 69% 71% 29% / 30% 30% 70% 70% ;
    transform: rotate(-15deg);
}

.section-4 .wraper .category-card .title {
     font-size: 15px;
    color: var(--background-color-1);
    line-height: 30px;
    text-align: center;
    font-weight: 600;
}

.section-4 .wraper .category-card .description {
    text-align: justify;
    margin: 20px auto;
    width: 70%;
    min-height: 50px;
    color: var(--background-color-2);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

/* section 5 */
.section-5 {
    text-align: center;
    padding-bottom: 40px;
}
.section-5 .wraper {
    margin: auto;
}

.section-5 .wraper > img {
    width: 40%;
}

.section-5 .wraper .title {
    font-size: 20px;
    color: var(--background-color-1);
    line-height: 30px;
    text-align: center;
    font-weight: 600;
}

.section-5 .wraper .description {
    font-size: 14px;
    color: var(--background-color-2);
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    width: 70%;
    margin: auto;
}
.section-5 .wraper .button {
    display: inline-block;
    position: relative;
    background: linear-gradient(338deg, #f142ff 32%, #349eff);
    border-radius: 113px;
    color: #fffa5f;
    padding: 10px 20px;
    margin-top:40px ;
    border-color: transparent;
    cursor: pointer;
    animation: 1.5s ani1 infinite;
}



@keyframes ani1 {
    0%, 100% {
       transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    
}

/* section 6 */

.section-6 {
    padding: 40px 0;
}
.section-6 .wraper {
    padding-top: 50px;
}

.section-6 .row .feature-item {
    display: flex;
    padding: 8px 0 8px 30px;
    margin: 15px 0;
    background-color: var(--white-color);
    box-shadow: 0px 10px 20px -8px rgb(217 235 255); 
    transition: .1s linear;
}

.section-6 .row .feature-item:hover {
    background-color: rgb(183, 223, 250);
}

.section-6 .row .feature-item i {
    font-size: 40px;
    background: -webkit-linear-gradient( 0deg, #f142ff, #6177ff,#349eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.section-6 .row .feature-item .title {
    margin: auto auto auto 20px;
    font-size: 15px;
    font-weight: 600;
    float: left;
}

.section-6 .wraper .image {
    width: 70%;
    display: block;
    object-fit: cover;
    margin: auto;
}

/* section 7 */
.section-7 {
    padding: 40px 0;
    position: relative;
}
.section-7::after {
    content: "";
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    z-index: 1;
    clip-path: polygon(41% 18%, 54% 16%, 68% 14%, 83% 10%, 100% 5%, 100% 100%, 0 100%, 0 8%, 17% 15%, 31% 18%);
    background-color: #faf8fe;
}
.section-7 .wraper .image {
    width: 100%;
    position: relative;
}



.section-7 .wraper .image img{
    display: block;
    position: relative;
    width: 350px;
    z-index: 10;
    object-fit: cover;
    margin: auto;
    padding: 60px 0;
}

.section-7 .wraper .feature-client {
    position: relative;
    width: 100%;
    z-index: 10;
}

.section-7 .feature-item {
    width: 90%;
    margin:20px auto;
    padding: 20px 15px;
    border-radius: 10px;
    min-height: 210px;
   -webkit-box-shadow: 0px 7px 15px -10px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 1px solid rgb(247, 247, 247); 

}

.section-7 .feature-item i {
    font-size: 50px;
    background: -webkit-linear-gradient( 0deg, #f142ff, #6177ff,#349eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
}

.section-7 .feature-item .title {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 22px;
}
.section-7 .feature-item .description {
    font-size: 12px;
    font-weight: 400;
    color: rgb(6, 5, 32);
    line-height: 18px;
    margin: 10px 0;
}
/* section 8 */
.section-8 {
    min-height: 100px;
    position: relative;
}

/* .section-8::after {
    content: "";
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../image/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
/* .section-8 p {
    font-size: 100px;
} */
.section-8 .contact {
    position: relative;
    margin: 100px auto;
    padding: 30px 100px;
    border-radius: 10px;
    width: 70%;
    background: rgb(134,85,162);
    background: linear-gradient(150deg, rgba(134,85,162,1) 43%, rgba(74,178,228,1) 95%);
}

.section-8 .contact::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    width: auto;
    height: auto;
    border: 1px solid #fff;
    border-radius: 10px;
}

.section-8 .contact form {
    position: relative;
    z-index: 10;
}

.section-8 .contact  .title {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
    color: #fff;
    font-weight: 600;
}
.section-8 .contact form .descriptions,
.section-8 .contact form input {
    width: 100%;
    height: 40px;
    line-height: 25px;
    margin-bottom:10px ;
    border-radius: 5px;
    border-color: transparent;
    outline: none;
    resize: none;
}

.section-8 .contact form .descriptions {
    height: 80px;
}

.section-8 .contact form .button {
    padding: 5px 50px;
    display: block;
    margin: 30px auto;
    background-color: var(--background-color-1);
    border: transparent;
    transition: .2s linear;
}

.section-8 .contact form .button:hover {
    background-color: var(--primary-color);
}

.section-9 {
    background: rgb(101, 34, 107);
    /* background: linear-gradient(0deg, rgba(75,48,77,0.5914740896358543) 0%, rgba(86,61,121,0.8687850140056023) 100%); */
    height: 300px;
    color: rgb(211, 231, 243);

}

.section-9 .logo {
display: flex;
margin: 50px 0 20px 0;
}

.section-9 .logo img {
    width: 70px;
    border-radius: 90rem;
}

.section-9 .logo .name {
    width: 100%;
    line-height: 70px;
    margin-left: 10px ;
    font-size: 40px;
    font-weight: 600;
    background: -webkit-linear-gradient(220deg, #8656a2, #6177ff,#51ade0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-9  .descriptions {
    font-size: 17px;
    width: 75%;
    text-align: justify;
}

.section-9 .title {
    position: relative;
    margin: 50px 0 20px 0;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    line-height: 70px;
    background: -webkit-linear-gradient(220deg, #8656a2, #6177ff,#51ade0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-9 .title::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    text-align: center;
    height: 1px;
    background-color: #666;
}

.section-9 .contact {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 600;
}
.section-9 .footer .sosials .link:hover,
.section-9 .contact p:hover {
    color: var(--primary-color);
}
.section-9 .footer .address {
    font-size: 13px;
    margin: 10px 0;
    text-align: justify;
}

.section-9 .footer .sosials {
    display: flex;
    gap: 20px;
    font-size: 30px;
    justify-content: center;
}
.section-9 .footer .sosials i {
    cursor: pointer;
}


.section-9 .footer .sosials .link {
    color: unset;
}
@media (min-width: 1200px) {}

@media (max-width: 1030px) {
    .wraper {
        width: 900px;
    }
    .section-7 .feature-item  {
        min-height: 300px;
    }
   .section-4 .wraper .category-card .image::after ,
    .section-4 .wraper .category-card .image::before {
    top: -12%;
    left: 16%;
    }
    .section-6 .wraper .image {
    object-fit: contain;
    height: 100%;
}
}

@media (max-width: 770px) {
    body {
        font-size: 55%;
    }
    .wraper {
        width: 750px;
    }
    .section-2 .intro .slogan .title {
        font-size: 25px;
    }
    .section-2 .intro .mobile .image1 {
        left: 20%;
    } 
    .section-2 .intro .mobile .image2 {
        left: 40%;
    }
    .section-3 .info .mobile::after {
        left: 21%;
    }
    .section-3 .info .mobile .image1 {
        left: 15%;
    }
    .section-4 .wraper .category-card .image img {
        width: 60%;
    }
    .section-4 .wraper .category-card .image::after, .section-4 .wraper .category-card .image::before {
    top: -12%;
    left: 5%;
    }
    .section-7 .feature-item {
    width: 95%;
    margin: 5px auto;
    padding: 5px 5px;
    min-height: 220px;
    }
    .section-7 .wraper .image img {
    width: 280px;
    }
    .section-8 .contact {
    margin: 30px auto;
    padding: 10px 33px; 
    width: 90%;
    }
    .section-9 .descriptions {
    width: 92%;
    }
}

@media (max-width: 500px) {
    :root {
        --height-nav: 50px;
    }
    .wraper {
        width: 350px;
    }
    .navigation .logo {
    margin: 10px 0;
    }
    .navigation .menu {
    display: none;
    }
    .section-2 {
        height: 650px;
    }
    .section-2 .intro .slogan {
    margin: 10px 0;
    position: relative;
    }
    .section-2 .intro .slogan {
    text-align: center;
    }
    .section-2 .intro .slogan .name,
    .section-2 .intro .slogan .description {
        text-shadow: none;
    }
    .section-2 .intro .slogan .title {
    font-size: 18px;
    text-shadow: none;
    }

    .section-2 .intro .slogan .description {
        position: absolute;
        bottom: 15%;
        font-size: 12px;
    }
    .section-2 .intro .slogan .button {
        position: absolute;
        bottom: 5%;
        left: 28%;
        padding: 6px 30px;

    }
    .section-2 .intro .mobile {
    position: absolute;
    top: 22%;
}
    .section-2 .intro .mobile .image1 {
    width: 170px;
    height: 300px;
    left: 5%;
}
.section-2 .intro .mobile .image2 {
    
    width: 144px;
    height: 330px;
    left: 40%;
}

.section-3 {
    text-align: center;
    min-height: 700px;
    position: relative;
}
.section-3 .info .slogan .title-2,
.section-3 .info .slogan .button,
.section-3 .info .slogan .description {
    position: absolute;
    bottom: 0;
}

.section-3 .info .slogan .description.d1 {
    bottom: 30%;
}

.section-3 .info .slogan .title-2 {
    bottom: 28%;
}

.section-3 .info .slogan .description.d2 {
    bottom: 3%;
}

.section-3 .info .slogan .button {
    left: 32%;
}


.section-3 .info .mobile .image1 {
    width: 240px;
    height: 262px;
    margin-top: 20px;
    border-bottom-right-radius:0;
}
.section-3 .info .mobile::after {
    display: none;
}
.section-4 .description p {
    width: 100%;
    margin: 20px 0;
    padding: 0 10px;
    text-align: justify;
}
.section-4 .wraper .category-card .image img {
    width: 50%;
}
.section-4 .wraper .category-card .image::after, .section-4 .wraper .category-card .image::before {
    top: -3%;
    left: 19%;
}
.section-4 .wraper .category-card .description {
    width: 90%;
}
.section-5 .wraper > img {
    width: 90%;
}
.section-5 .wraper .title {
    margin-top: 20px;
}
.section-5 .wraper .description {
    width: 90%;
}
.section-6 > .title, .section-7 > .title, .section-4 > .title {
    font-size: 22px;
}
.section-7 .feature-item {
    min-height: 220px;
    text-align: justify;
}
.section-7 .feature-item i {
    width: 100%;
    text-align: center;
}
.section-7 .feature-item .title {
    font-size: 12px;
}
.section-7 .feature-item .description  {
    font-size: 10px;
}
.section-9 {
    height: 80vh;
}

}